body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('cooking.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    text-align: center;
}

main{
    margin: 5%;
    background: rgba(0,51,37,0.5);
    color: white;
    padding: 1.875rem;
}

#nonTitle{
    display: flex;
    align-items:center;
    justify-content:center;
 

}


ul li a{
    color: white;
    text-decoration: none;
}

